@model IEnumerable<Tovar>
@{ Layout = "_Layout";}



    @foreach (var t in Model)
    {<form method="post" asp-action="CartAdd" asp-controller="ShopCart">
    <input type="hidden" asp-for="@t.Id" name="Id" />
    <input type="hidden" asp-for="@t.Category.CategoryName" name="page" />
    
        <div class="col">
            <div class="card shadow-sm">
                @if (t.Path != null)
                {
                    <img class="img-thumbnail" src="data: image / jpeg; base64,@(Convert.ToBase64String(t.Path))" />
                }
                else
                {
                    <img class="img-thumbnail" src="/img/no_photo.jpg" />
                }
                <div class="card-body">
                    <p class="card-text">
                        <strong>Название:</strong> @t.TovarName
                        <strong>Цена:</strong>@t.Price р.
                        <strong>Описание:</strong>@t.Car
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <input type="number" min="1" max="@t.Quantity" name="Quantity" value="1" />
                        <div class="btn">

                            <input type="submit" class="btn btn-sm btn-outline-secondary" value="В корзину" />
                        </div>

                    </div>
                    <small class="text-muted">Количество:@t.Quantity</small>
                </div>
            </div>
        </div>
    
</form>
    }


