@model List<Tovar>
@{Layout = "_Layout";}
<form method="post" asp-action="CartAdd" asp-controller="ShopCart">
    @foreach (var t in Model)
    {<input type="hidden" asp-for="@t.Id" />
        <input type="hidden" asp-for="@t.Price" />
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                @if (t.Path != null)
                {
                    <img class="img-thumbnail" src="data: image / jpeg; base64,@(Convert.ToBase64String(t.Path))" />
                }
                else
                {
                    <img class="img-thumbnail" src="/img/no_photo.jpg" />
                }
                <div class="card-body">
                    <p class="card-text">
                        <strong>Название:</strong> @t.TovarName
                        <strong>Цена:</strong>@t.Price р.
                        <strong>Описание:</strong>@t.Car
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn">
                            <button type="button" class="btn btn-sm btn-outline-secondary">В корзину</button>
                        </div>
                        <small class="text-muted">Количество:@t.Quantity</small>
                    </div>
                </div>
            </div>
        </div>
    }
</form>